* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 100px;
}

h1 {
  font-size: 100px;
}
h2 {
  font-size: 25px;
}

/* Barra de búsqueda */

#buscador {
  padding: 100px;
}

input {
  padding: 15px;
  width: 300px;
  border-radius: 15px;
  border: black;
}

button {
  padding: 15px;
  border: black;
  border-radius: 15px;
  background-color: white;
  cursor: pointer;
}

/* Mensaje de error */

.mensaje{
  text-align: center;
  font-size: 35px;
  color: #fb0000;
  margin-top: 25px;
}

/* Barra de recomendaciones */
/* Con display: flex y overflow x_ auto hacemos que los juegos recomendados se alineen en fila y se puedan desplazar*/

#lista-recomendaciones {
  display:flex;
  gap:10px;
  overflow-x: auto;
  padding: 15px;
}

.juego {
  text-align: center;
  width: 150px;
}

.juego img{
  width: 100%;
  border-radius: 10px;
}

#resultados-busqueda{
  margin-top: 20px;
}
/*
#game-results {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  padding: 50px;
}

.game-card {
  background-color: #1e1e1e;
  border-radius: 10px;
  width: 200px;
  text-align: center;
}

/*Con esto damos efecto de énfasis al pasar el cursor por encima
.game-card:hover {
  width: 300px;
  max-height: max-content;
  opacity: 1;
  filter: contrast(110%);
}

.game-card img {
  width: 100%;
  border-radius: 5px;
}